.success-button {
    -fx-background-color: #28a745; /* Verde Bootstrap */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px; /* Tamanho da fonte fixo */
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #218838;
    -fx-border-width: 1px;
}

.success-button:hover {
    -fx-background-color: #218838; /* Tom mais escuro ao passar o mouse */
    -fx-font-size: 14px; /* Reafirma o tamanho da fonte no hover */
}

.success-button:pressed {
    -fx-background-color: #1e7e34; /* Tom mais escuro ao clicar */
    -fx-font-size: 14px; /* Reafirma o tamanho da fonte ao pressionar */
}


.danger-button {
    -fx-background-color: #dc3545; /* Vermelho Bootstrap */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #bd2130;
    -fx-border-width: 1px;
}

.danger-button:hover {
    -fx-background-color: #c82333; /* Tom mais escuro ao passar o mouse */
}

.danger-button:pressed {
    -fx-background-color: #a71d2a; /* Tom mais escuro ao clicar */
}

.primary-button {
    -fx-background-color: #007bff; /* Azul Bootstrap */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #0056b3;
    -fx-border-width: 1px;
}

.primary-button:hover {
    -fx-background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
}

.primary-button:pressed {
    -fx-background-color: #004085; /* Tom mais escuro ao clicar */
}
